.registry-height {
  height: 770px;
}
.registry-body {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 25px;

  @media (min-width: 1025px) {
    width: 65%;
  }
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  width: 75%;
  margin: 0 auto;
  padding-top: 10px;

  @media (width >= 545px) and (width <= 769px)  {
    font-size: 25px;
    width: 60%;
  }
  @media (min-width: 770px) {
    font-size: 25px;
    padding-top: 20px;
  }
}
.zola {
  width: 75%;
  margin: 0 auto;
  display: block;
  padding: 25px 0 25px 0;

  @media (width >= 545px) and (width <= 769px)  {
    width: 35%;
  }
  @media (min-width: 770px) {
    width: 30%;
    padding: 45px 0 45px 0;
  }
}
