.schedule-height {
  height: 770px;
}
.schedule-body {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 25px;

  @media (min-width: 1025px) {
    width: 65%;
  }
}
.title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.title-leaf {
  width: 10%;
  height: 25%;
}
h1 {
  font-family: "Euphoria Script", cursive;
  font-size: 25px;
  margin: 10px 5px 10px 5px;

  @media (width >= 545px) and (width <= 769px)  {
    font-size: 55px;
  }
  @media (min-width: 770px) {
    font-size: 60px;
  }
}
.schedule {
  margin-top: 20px;
  width: 80%;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  margin: 0 auto;

  @media (width >= 545px) and (width <= 769px)  {
    font-size: 30px;
    margin-top: 40px;
  }
  @media (min-width: 770px) {
    font-size: 25px;
    width: 68%;
    margin-top: 60px;
  }
  @media (min-width: 1200px) {
    width: 50%;
  }
}
.schedule-item {
  margin: 20px 0 20px 0;

  @media (width >= 545px) and (width <= 769px)  {
    margin: 30px 0 30px 0;
  }

  @media (min-width: 770px) {
    margin: 40px 0 40px 0;
  }
}
