.footer {
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item {
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 770px) {
    width: 25%;
  }
}
.footer-words {
  display: inline-block;
  font-size: 10px;
  padding-top: 15px;

  @media (min-width: 415px) {
    font-size: 20px;
  }
  @media (min-width: 770px) {
    font-size: 12px;
  }
}
.logo {
  display: inline-block;
  width: 50%;
  height: 50%;
  margin-top: 10px;

  @media (min-width: 770px) {
    width: 35%;
    height: 35%;
  }
}
